/*Parte geral*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/*Parte para a navegação*/
header{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    margin: 0 10px;
}

a{
    text-decoration: none;
    color: white;
}

/*Parte para o conteudo*/
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

article{
    flex: 1 1 200px;
    max-width: 450px;
    min-width: 250px ;
}

img{
    width: 100%;
    height: auto;
}

p{
    display: flex;
    justify-content: center;
    color: grey;
}

/*Parte para a tela abaixo de 670px*/
@media (max-width: 670px) {
    
    /*Parte para a navegação em 670px de tela*/
    header{
        background-color: black;
        padding: 20px;
    }

    .logo{
        display: flex;
        align-items: center;
        font-size: xx-large;
    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    li{
        margin: 0 0 5px 0;
        background-color: grey;
    }

    /*Parte para o conteudo em 670px de tela*/
    section{
        display: flex;
        justify-content: center;
        width: 90%;
        gap: 70px;
    }

    article{
        flex: 1 1 300px;
        max-width: none;
    }

    img{
        width: 100%;
    }

    p{
        font-size: x-large;
    }
}